@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #edf0ff; /* '50' */
    --foreground: #372b84; /* '900' */
    --card: #dfe3ff; /* '100' */
    --card-foreground: #4e33cf; /* '700' */
    --popover: #c5cbff; /* '200' */
    --popover-foreground: #22194d; /* '950' */
    --primary: #7d7dfc; /* '400' */
    --primary-foreground: #edf0ff; /* '50' */
    --secondary: #c5cbff; /* '200' */
    --secondary-foreground: #372b84; /* '900' */
    --muted: #a2a9ff; /* '300' */
    --muted-foreground: #5b40eb; /* '600' */
    --accent: #6a5ef6; /* '500' */
    --accent-foreground: #edf0ff; /* '50' */
    --destructive: #412dab; /* '800' */
    --destructive-foreground: #edf0ff; /* '50' */
    --border: #dfe3ff; /* '100' */
    --input: #a2a9ff; /* '300' */
    --ring: #5b40eb; /* '600' */
    --chart-1: #7d7dfc; /* '400' */
    --chart-2: #4e33cf; /* '700' */
    --chart-3: #372b84; /* '900' */
    --chart-4: #6a5ef6; /* '500' */
    --chart-5: #5b40eb; /* '600' */
    --radius: 0.5rem;
    --sidebar-background: #edf0ff; /* '50' */
    --sidebar-foreground: #4e33cf; /* '700' */
    --sidebar-primary: #6a5ef6; /* '500' */
    --sidebar-primary-foreground: #edf0ff; /* '50' */
    --sidebar-accent: #dfe3ff; /* '100' */
    --sidebar-accent-foreground: #4e33cf; /* '700' */
    --sidebar-border: #c5cbff; /* '200' */
    --sidebar-ring: #5b40eb; /* '600' */
  }
  .dark {
    --background: #372b84; /* '900' */
    --foreground: #edf0ff; /* '50' */
    --card: #4e33cf; /* '700' */
    --card-foreground: #edf0ff; /* '50' */
    --popover: #5b40eb; /* '600' */
    --popover-foreground: #edf0ff; /* '50' */
    --primary: #6a5ef6; /* '500' */
    --primary-foreground: #372b84; /* '900' */
    --secondary: #a2a9ff; /* '300' */
    --secondary-foreground: #edf0ff; /* '50' */
    --muted: #c5cbff; /* '200' */
    --muted-foreground: #5b40eb; /* '600' */
    --accent: #7d7dfc; /* '400' */
    --accent-foreground: #edf0ff; /* '50' */
    --destructive: #412dab; /* '800' */
    --destructive-foreground: #edf0ff; /* '50' */
    --border: #a2a9ff; /* '300' */
    --input: #c5cbff; /* '200' */
    --ring: #7d7dfc; /* '400' */
    --chart-1: #5b40eb; /* '600' */
    --chart-2: #6a5ef6; /* '500' */
    --chart-3: #4e33cf; /* '700' */
    --chart-4: #7d7dfc; /* '400' */
    --chart-5: #372b84; /* '900' */
    --sidebar-background: #412dab; /* '800' */
    --sidebar-foreground: #edf0ff; /* '50' */
    --sidebar-primary: #5b40eb; /* '600' */
    --sidebar-primary-foreground: #edf0ff; /* '50' */
    --sidebar-accent: #6a5ef6; /* '500' */
    --sidebar-accent-foreground: #4e33cf; /* '700' */
    --sidebar-border: #dfe3ff; /* '100' */
    --sidebar-ring: #7d7dfc; /* '400' */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
