@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
   --background: #372b84; /* '900' */
    --foreground: #edf0ff; /* '50' */
    --card: #4e33cf; /* '700' */
    --card-foreground: #edf0ff; /* '50' */
    --popover: #5b40eb; /* '600' */
    --popover-foreground: #edf0ff; /* '50' */
    --primary: #6a5ef6; /* '500' */
    --primary-foreground: #372b84; /* '900' */
    --secondary: #a2a9ff; /* '300' */
    --secondary-foreground: #edf0ff; /* '50' */
    --muted: #c5cbff; /* '200' */
    --muted-foreground: #5b40eb; /* '600' */
    --accent: #7d7dfc; /* '400' */
    --accent-foreground: #edf0ff; /* '50' */
    --destructive: #412dab; /* '800' */
    --destructive-foreground: #edf0ff; /* '50' */
    --border: #a2a9ff; /* '300' */
    --input: #c5cbff; /* '200' */
    --ring: #7d7dfc; /* '400' */
    --chart-1: #5b40eb; /* '600' */
    --chart-2: #6a5ef6; /* '500' */
    --chart-3: #4e33cf; /* '700' */
    --chart-4: #7d7dfc; /* '400' */
    --chart-5: #372b84; /* '900' */
    --sidebar-background: #412dab; /* '800' */
    --sidebar-foreground: #edf0ff; /* '50' */
    --sidebar-primary: #5b40eb; /* '600' */
    --sidebar-primary-foreground: #edf0ff; /* '50' */
    --sidebar-accent: #6a5ef6; /* '500' */
    --sidebar-accent-foreground: #4e33cf; /* '700' */
    --sidebar-border: #dfe3ff; /* '100' */
    --sidebar-ring: #7d7dfc; /* '400' */
  }
  .dark {
    --background: #372b84; /* '900' */
    --foreground: #edf0ff; /* '50' */
    --card: #4e33cf; /* '700' */
    --card-foreground: #edf0ff; /* '50' */
    --popover: #5b40eb; /* '600' */
    --popover-foreground: #edf0ff; /* '50' */
    --primary: #6a5ef6; /* '500' */
    --primary-foreground: #372b84; /* '900' */
    --secondary: #a2a9ff; /* '300' */
    --secondary-foreground: #edf0ff; /* '50' */
    --muted: #c5cbff; /* '200' */
    --muted-foreground: #5b40eb; /* '600' */
    --accent: #7d7dfc; /* '400' */
    --accent-foreground: #edf0ff; /* '50' */
    --destructive: #412dab; /* '800' */
    --destructive-foreground: #edf0ff; /* '50' */
    --border: #a2a9ff; /* '300' */
    --input: #c5cbff; /* '200' */
    --ring: #7d7dfc; /* '400' */
    --chart-1: #5b40eb; /* '600' */
    --chart-2: #6a5ef6; /* '500' */
    --chart-3: #4e33cf; /* '700' */
    --chart-4: #7d7dfc; /* '400' */
    --chart-5: #372b84; /* '900' */
    --sidebar-background: #412dab; /* '800' */
    --sidebar-foreground: #edf0ff; /* '50' */
    --sidebar-primary: #5b40eb; /* '600' */
    --sidebar-primary-foreground: #edf0ff; /* '50' */
    --sidebar-accent: #6a5ef6; /* '500' */
    --sidebar-accent-foreground: #4e33cf; /* '700' */
    --sidebar-border: #dfe3ff; /* '100' */
    --sidebar-ring: #7d7dfc; /* '400' */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
